@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

#comment {margin-left:-100px;}

#nav {
  display: none;
  position: absolute;
  width: 24%;
  top: 2em;
  left: 0;
}

#nav ul {
  display: none;
  width: 100%;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
  margin: 0;
}

#nav a {
  color: #252525;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  transition: background .3s ease;
  border-bottom: 1px solid rgba(0,0,0, .2);
  border-top: 1px solid rgba(255,255,255, .1);
  display: block;
  padding: .6em 2em;
  width: 100%;
}
}
#nav li:first-child a { border-top: 0 }
#nav li:last-child a { border-bottom: 0 }
#toggle { display: none }

@media screen and (max-width: 960px) {

.nav {
display: none;
}

#nav ul {
display: block;
}
#nav ul li ul {
display: block;
margin: 0 0 0 10px;
}

  .js #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  #nav {
    top: 0;
    width: 100%;
    position: relative;
    display: block;
  }
  #nav.opened { max-height: 9999px }
  #nav a:hover { background: transparent }
  #nav .active a:hover { color: #fff; background: rgba(0,0,0, .3) }
  #nav-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 70px;
    height: 50px;
    float: right;
    margin: 1em 1em 0;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url("hamburger.gif");
    background-repeat: no-repeat;
    background-color: #e74c3c;
    background-position: 50% 50%;
    position: relative;
z-index:1000;
  }

}
